# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
bin/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# SQL
*.sqlite
*.db

# Operating System
.DS_Store
Thumbs.db